img[src$='#floatright'] {
	max-width: 30%;
	width: auto\9*0.3; /* ie8 */
	height: auto;
	float: right;
	margin: 8px 0 8px 16px;
}

img[src$='#floatleft'] {
	max-width: 30%;
	width: auto\9*0.3; /* ie8 */
	height: auto;
	float: left;
	margin: 8px 16px 8px 0;
}
